<nav class="topnav-container">
  <mat-toolbar>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>mio 實驗室</span>
  </mat-toolbar>
</nav>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
      [opened]="!(isSmallScreen$ | async)">

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/checkList']" routerLinkActive="router-link-active" ><mat-icon>receipt</mat-icon> 代辦事項 </a>
      <a mat-list-item href="#"><mat-icon>view_agenda</mat-icon> 管理快速清單 </a>
      <a mat-list-item href="#"><mat-icon>extension</mat-icon> 交換區 </a>
      <a mat-list-item href="#"><mat-icon>youtube_searched_for</mat-icon> 紀錄回顧 </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>settings</mat-icon> 設定 </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <div class="copyright">© 2018 wildMio</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
