.topnav-container {
  height: 56px;
  > .mat-toolbar {
    height: 100%;
    > button {
      margin-right: 16px;
    }
  }
}
.sidenav-container {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidenav {
  width: 240px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-icon {
  margin: 0 16px;
}

.copyright {
  margin: 24px;
  color: #868686;
}
